div > .templates-wrapper > .jrhtw9ph4a-editor_css {
  position: absolute;
  background-color: rgba(0, 21, 41, 0);
  box-shadow: none;
}
.home-page > .header2-menu > .active {
  color: #ffffff;
}
.home-page > .header2-menu > .menu-item:hover {
  color: #e0e7ff;
  border-bottom-color: #ffffff;
}
#Feature3_0 .home-page > .title-wrapper > .l4ldf7hm0gg-editor_css {
}
#Feature3_0 .home-page > .title-wrapper > .l4ldeprccr-editor_css {
  font-size: 22px;
}
#Content13_0 .title-wrapper > .l4lhz2hyflb-editor_css {
  font-size: 24px;
}
#Content9_0 .home-page > .title-wrapper > .l4lf2dnebee-editor_css {
  display: flex;
  font-size: 18px;
}
#Banner2_0 .home-page > .banner2-text-wrapper > .l4ljbzl6n3u-editor_css {
  font-family: Impact;
  font-size: 48px;
}
#Content9_0 .home-page > .l4lghhtltd-editor_css {
}
#Banner2_0 .home-page > .banner2-text-wrapper > .l4lkvmx7zlr-editor_css {
  font-family: 'Times New Roman';
  font-size: 24px;
  font-weight: bold;
}
#Content9_0 .image-wrapper > .name-wrapper > .l4ll8kkelb-editor_css {
}
#Content9_0 .image-wrapper > .name-wrapper > .l4ll8dvk68c-editor_css {
  font-size: 16px;
}
#Content9_0 .image-wrapper > .name-wrapper > .l4ll98masw-editor_css {
  font-size: 16px;
}
#Content9_0 .image-wrapper > .name-wrapper > .l4ll9dg43eg-editor_css {
  font-size: 16px;
}
#Content9_0 .block-wrapper > .text-wrapper > .l4ll9lga0k9-editor_css {
  font-size: 14px;
}
#Content9_0 .block-wrapper > .text-wrapper > .l4lj0at4nh-editor_css {
  font-size: 14px;
}
#Content9_0 .block-wrapper > .text-wrapper > .l4ll8ujdsb-editor_css {
  font-size: 14px;
}
#Nav2_0 .l4lj6en6d8i-editor_css {
  background-clip: padding-box;
  color: rgb(219, 233, 245);
}
#Content12_0 .home-page > .title-wrapper > .l4lib2p6d6-editor_css {
  font-size: 26px;
}
