#Content9_0 .block-wrapper > .text-wrapper > .l57g6047k2d-editor_css {
  text-align: justify;
}
#Content9_0 .block-wrapper > .text-wrapper > .l57hqtkvppt-editor_css {
  text-align: justify;
}
#Content9_0 .block-wrapper > .text-wrapper > .l57hv2u0zr-editor_css {
  text-align: justify;
}
#Content9_0 .block-wrapper > .text-wrapper > .l57hzos84uc-editor_css {
  text-align: justify;
}
#Content9_0 .block-wrapper > .text-wrapper > .l57i1tmdjkn-editor_css {
  text-align: justify;
}
#Content9_0 .block-wrapper > .text-wrapper > .l57kemdn3mo-editor_css {
  font-weight: bold;
}
#Content9_0 .block-wrapper > .text-wrapper > .l57fi2w6m18-editor_css {
  text-align: justify;
}
#Content9_0 .timeline > .block-wrapper > .l57g4e4xm9-editor_css {
  background-clip: padding-box;
}
#Content9_0 .home-page > .l57ffwsdawo-editor_css {
  background-clip: padding-box;
}
#Content9_0 .home-page > .timeline > .l57l1erixwp-editor_css {
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0);
  margin: 0px 0px 16px;
}
#Content9_0 .home-page > .timeline > .l57lp3kb9cc-editor_css {
  margin: 0px 0px 16px;
}
#Content9_0 .home-page > .timeline > .l57lpexuoy-editor_css {
  margin: 0px 0px 16px;
}
#Content9_0 .home-page > .timeline > .l57lpm8q1xb-editor_css {
  margin: 0px 0px 16px;
}
#Content9_0 .home-page > .timeline > .l57lpsie94f-editor_css {
  margin: 0px 0px 16px;
}
#Content11_1 .title-wrapper > .l57m7r6nrnf-editor_css {
  margin-top: 16px;
}
#Footer1_0 .footer1 > .ant-row > .l57m8fdv4gq-editor_css {
  color: rgb(49, 70, 89);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Footer1_0 .ant-col > div > .l57m9ohvgkr-editor_css {
}
#Footer1_0 .footer1 > .ant-row > .l57m97g28ge-editor_css {
  color: #314659;
}
#Footer1_0 .footer1 > .ant-row > .l57m9vag6uh-editor_css {
  color: #314659;
}
#Content11_1 .title-wrapper > .l57m8a95e9j-editor_css {
  display: inline-block;
  justify-content: center;
  max-width: 600px;
}
#Nav3_0 .header3-menu > .ant-menu > .l59pl5lznuf-editor_css {
  display: none;
}
#Content9_0 .home-page > .timeline > .l57i9da2lwh-editor_css {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px 0px 16px;
}
#Content9_0 .home-page > .timeline > .l57ffbuuwmt-editor_css {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px 0px 24px;
}
#Content9_0 .l57ffhdd5gt-editor_css {
  padding: 32px 0px 0px;
}

.ant-btn {
  background: #43946c !important;
  color: white;
}

.ant-btn:hover,
.ant-btn:focus {
  color: white;
  border-color: white;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: none;
}

@media screen and (max-width: 767px) {
  #Content9_0 .l57ffhdd5gt-editor_css {
    padding: 64px 24px 32px;
  }
}
#Content9_0.l57ffz3eoz-editor_css {
  padding: 0 0 16px;
}
#Footer1_0 .ant-row > .ant-col > .l59tb1ubz7j-editor_css {
  padding: 0px 0px 12px;
}
#Nav3_0 .home-page > .l65uurkqxl-editor_css {
}
#Teams0_0 .banner-anim > .banner-anim-elem > .l65vop664te-editor_css {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
#Nav3_0 .l59q16780sh-editor_css {
  width: 100%;
}
#Content9_0 .home-page > .title-wrapper > .l65xh9oluba-editor_css {
  margin: 0 0 8px;
}
#Content9_0 .home-page > .title-wrapper > .l65xcxbh5s-editor_css {
  margin-top: 16px;
}
#Teams0_0 .l65tz9aaqad-editor_css {
  background-clip: padding-box;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
#Content9_0 .block-wrapper > .image-wrapper > .l65yl36oyoj-editor_css {
  font-size: 12px;
}
#Teams0_0
  .banner-anim-elem
  > .teams0-content-wrapper
  > .l65wa7b12i6-editor_css {
  background-color: #00a854;
}
#Content11_1 .l57mblpsdmf-editor_css {
  margin: 0px 0 32px;
}
#Content11_1.l65w3sp2e8-editor_css {
  // background-clip: ;
  background-image: url();
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
}
#Content9_0 .block-wrapper > .text-wrapper > .l57kehryrr8-editor_css {
  font-weight: bold;
}
#Content9_0 .block-wrapper > .text-wrapper > .l660caty2kp-editor_css {
  font-weight: bold;
}
#Teams0_0.l65vwm0wumd-editor_css {
  background-clip: padding-box;
}
#Feature2_0 .ant-row > .l65vthowlkh-editor_css {
  justify-content: center;
}
#Feature1_0 .ant-row > .ant-col > .l660yl2kgxe-editor_css {
  text-align: justify;
}
#Feature2_0 .ant-row > .ant-col > .l660z6e9jq-editor_css {
  text-align: justify;
}
#Feature2_0 .ant-row > .ant-col > .l65vtggv2o7-editor_css {
  width: 360px;
}
#Content9_0 .home-page > .title-wrapper > .l65xe7794ze-editor_css {
  margin: 0px 10%;
}
#Banner0_0 .banner0-text-wrapper > .l66221er87j-editor_css {
  display: none;
}
#Banner0_0 .banner0-text-wrapper > .l662244en4-editor_css {
  display: none;
}
#Banner0_0.l66237937o-editor_css {
  background-image: url("https://i.im.ge/2022/07/29/FmHROq.jpg");
  background-size: contain;
}
#Banner0_0 .banner0-text-wrapper > .l6621xc87fo-editor_css {
  display: none;
  background-color: rgb(34, 34, 34);
}
#Teams0_0
  .banner-anim-elem
  > .teams0-content-wrapper
  > .l65w7fx38fg-editor_css {
  color: rgb(34, 34, 34);
  margin: 0px auto 8px;
}
#Nav3_0.l59q48ajj1-editor_css {
  background-color: rgb(67, 148, 108);
}
#Footer1_0.l57m0kkeea-editor_css {
  background-color: #43946c;
}
#Footer1_0 .copyright-wrapper > .home-page > .l57m0rpsrl-editor_css {
  font-weight: bold;
  color: #fbfbfb;
}
#Footer1_0 .ant-col > .slogan > .l57m522ytw-editor_css {
  font-size: 14px;
  color: #d9d9d9;
  text-align: center;
}
#Footer1_0 .ant-col > div > .l6630915e1-editor_css {
  color: #d9d9d9;
  text-align: justify;
  margin: 0px 0px 16px;
}
#Footer1_0 .ant-row > .ant-col > .l57m7yino6g-editor_css {
  color: #404040;
}
#Footer1_0 .ant-row > .ant-col > .l57m85qbe6-editor_css {
  color: #404040;
}
#Footer1_0 .ant-row > .ant-col > .l57m828mba-editor_css {
  color: #404040;
}
#Footer1_0 .footer1 > .l57m0ifizd-editor_css {
  padding: 64px 24px 32px;
}

@media screen and (max-width: 767px) {
  #Footer1_0 .footer1 > .l57m0ifizd-editor_css {
    padding: 32px 24px;
  }
}
#Footer1_0 .ant-col > div > .l663xxcz3v8-editor_css {
  color: #007bff;
  background-color: #fbfbfb;
}
#Footer1_0 .ant-col > div > .l663zyd6id-editor_css {
  color: #007bff;
}
#Footer1_0 .ant-col > div > .l57m8ef96b-editor_css {
  color: #d9d9d9;
  margin-bottom: 12px;
  text-align: center;
}
#Footer1_0 .ant-col > div > .l662w6x64t-editor_css {
  color: #d9d9d9;
}
#Footer1_0 .ant-col > div > .l663krc44cm-editor_css {
  color: #d9d9d9;
  text-align: center;
}
#Footer1_0 .ant-col > div > .l663f86vzr-editor_css {
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
}
#Footer1_0 .ant-col > div > .l663mkvd54-editor_css {
  color: #d9d9d9;
  text-align: center;
  margin: 0px 0px 8px;
}
#Teams0_0
  .banner-anim-elem
  > .teams0-content-wrapper
  > .l57jjr8nctn-editor_css {
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: rgb(34, 34, 34);
}

@media screen and (max-width: 767px) {
  #Teams0_0
    .banner-anim-elem
    > .teams0-content-wrapper
    > .l57jjr8nctn-editor_css {
    font-size: 16px;
  }
}
#Feature0_0 .home-page > div > .l6q99624ah-editor_css {
  justify-content: center;
}
#Feature0_0 .ant-col > .content0-block-item > .l6q9ahjl1z7-editor_css {
}
#Feature0_0 .ant-row > .ant-col > .l6q993uqgoj-editor_css {
}
#Feature0_0 .ant-col > .content0-block-item > .l6q99jh2dbo-editor_css {
  width: 100px;
}
#Footer1_0 .ant-row > .ant-col > .l6qa25dhoeo-editor_css {
}
#Footer1_0 .ant-col > .l6qa25dhoeo-editor_css > .l663mkvd54-editor_css {
  text-align: center;
}
